.footer {
  padding-bottom: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1098px;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__info {
    max-width: 264px;

    @include small-tablet {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__description {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 150%;
    color: #555;
  }

  &__list {
    padding-top: 10px;

    @include small-tablet {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 133%;
    color: #222;
  }

  &__link {
    font-size: 16px;
    line-height: 150%;
    color: #222;
  }
}
