.header {
  padding-top: 40px;
  padding-bottom: 97px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include big-tablet {
    padding-bottom: 40px;
  }
}

.burger {
  @include burger;

  display: none;

  @include big-tablet {
    display: block;
  }
}
