.review {
  padding-bottom: 125px;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    @include tablet {
      display: none;
    }
  }

  &__slider {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #f9d15c;

    @include tablet {
      border-radius: 12px;
    }
  }
}
