.tabs__nav-btn {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 8px 28px;
  font-size: 16px;
  line-height: 150%;
  color: #555;
  background: #fff;

  &--active {
    border-color: #000;
    background: transparent;
  }

  @include tablet {
    margin: 0 auto;
  }
}

.tabs__panel {
  display: none;

  &--active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
}
