<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <img src="img/logo.svg" alt="logo">
    </div>
    <nav class="menu">
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Booking</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Facilities</a></li>
        <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Location</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>
