<section class="hero">
  <div class="container hero__container">
    <div class="hero__promo">
      <h1 class="title title--big hero__title">Find Your Best Hotel for Deals</h1>
      <p class="description description--big hero__description">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.</p>
    </div>
    <form action="#" class="form hero__form">
      <label class="form__label">
        <input type="text" name="Имя" class="input-reset form__input form__input--date" placeholder="Jun 10 - 14">
      </label>
      <label class="form__label">
        <input type="text" name="Имя" class="input-reset form__input form__input--guests" placeholder="2 Guests">
      </label>
      <label class="form__label form__label--big">
        <input type="text" name="Имя" class="input-reset form__input form__input--big" placeholder="United States">
      </label>
      <button class="btn-reset form__btn"></button>
    </form>
  </div>
</section>
