<section class="hotels">
  <div class="container hotels__container">
    <img src="img/hotels.jpg" alt="Hotel" class="hotels__img">
    <div class="hotels__content">
      <h2 class="title hotels__title">Finest Luxury Hotels
        & Resort</h2>
      <p class="description hotels__description">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.</p>
      <ul class="list-reset hotels__list">
        <li class="hotels__item">
          <h3 class="hotels__name">120K+</h3>
          <p class="hotels__text">Website User</p>
        </li>
        <li class="hotels__item">
          <h3 class="hotels__name">110K+</h3>
          <p class="hotels__text">Happy Clients</p>
        </li>
        <li class="hotels__item">
          <h3 class="hotels__name">20K+</h3>
          <p class="hotels__text">Active Hotels</p>
        </li>
        <li class="hotels__item">
          <h3 class="hotels__name">8Y+</h3>
          <p class="hotels__text">company Year</p>
        </li>
      </ul>
      <a href="#" class="btn hotels__btn">Explore More</a>
    </div>
  </div>
</section>
