<section class="newsletter">
  <div class="container newsletter__container">
    <div class="newsletter__info">
      <h2 class="title newsletter__title">
        Subscribe for our mailing list to get latest updates and offers
      </h2>
      <p class="description newsletter__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's
      </p>
    </div>
    <form action="#" class="newsletter__form">
      <label class="newsletter__label">
        <input
          type="text"
          name="Имя"
          class="input-reset newsletter__input"
          placeholder="Enter your email"
        />
      </label>
      <button class="btn-reset newsletter__btn">Subscribe</button>
    </form>
  </div>
</section>
