<section class="quality">
  <div class="container">
    <h2 class="title quality__title">Best Quality Hotels</h2>
    <p class="description quality__description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>

    <div class="tabs quality-tabs" data-tabs="tab">
      <ul class="list-reset tabs__nav quality-tabs__nav">
        <li class="tabs__nav-item quality-tabs__item">
          <button class="btn-reset tabs__nav-btn quality-tabs__btn" type="button">
            1 Star
          </button>
        </li>
        <li class="tabs__nav-item quality-tabs__item">
          <button class="btn-reset tabs__nav-btn quality-tabs__btn" type="button">
            2 Star
          </button>
        </li>
        <li class="tabs__nav-item quality-tabs__item">
          <button class="btn-reset tabs__nav-btn quality-tabs__btn" type="button">
            3 Star
          </button>
        </li>
        <li class="tabs__nav-item quality-tabs__item">
          <button class="btn-reset tabs__nav-btn quality-tabs__btn" type="button">
            4 Star
          </button>
        </li>
        <li class="tabs__nav-item quality-tabs__item">
          <button class="btn-reset tabs__nav-btn quality-tabs__btn" type="button">
            5 Star
          </button>
        </li>
      </ul>
      <div class="tabs__content quality-tabs__content">
        <div class="tabs__panel quality-tabs__panel">
          <div class="quality-tabs__card">
            <img src="img/quality-1.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Swimming pool and beach of luxury...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
          <div class="quality-tabs__card">
            <img src="img/quality-2.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                InterContinental Fujairah Resort Clu...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
          <div class="quality-tabs__card">
            <img src="img/quality-3.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Burj Al Arab - Jumeirah Street - Dub...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel quality-tabs__panel">
          <div class="quality-tabs__card">
            <img src="img/quality-3.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Burj Al Arab - Jumeirah Street - Dub...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
          <div class="quality-tabs__card">
            <img src="img/quality-1.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Swimming pool and beach of luxury...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel quality-tabs__panel">
          <div class="quality-tabs__card">
            <img src="img/quality-3.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Burj Al Arab - Jumeirah Street - Dub...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel quality-tabs__panel">
          <div class="quality-tabs__card">
            <img src="img/quality-3.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Burj Al Arab - Jumeirah Street - Dub...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel quality-tabs__panel">
          <div class="quality-tabs__card">
            <img src="img/quality-3.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Burj Al Arab - Jumeirah Street - Dub...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
          <div class="quality-tabs__card">
            <img src="img/quality-1.jpg" alt="logo" class="quality-tabs__img" />
            <div class="quality-tabs__info">
              <h3 class="quality-tabs__title">
                Swimming pool and beach of luxury...
              </h3>
              <p class="quality-tabs__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <div class="quality-tabs__meta">
                <span class="quality-tabs__price"><span>$250</span> /NIGHT</span>
                <a href="" class="btn quality-tabs__button">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
